<div class="wrapper clearfix">
  <div class="sub-container">
    <h2>つぶやきを編集する</h2>
    <%= render 'form' %>
    <div class="back_index">
    <%= link_to "つぶやき一覧画面にもどる", tsubuyakies_path %>
    </div>
  </div>
</div>
