  <section class="main">
    <h2>つぶやき一覧</h2>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
    </div>
    <div class="tweet">
      <p>today is sunday</p>
  </div>
  </section>
