<div class="main">
  <div class="container">

    <h2>つぶやく</h2>

    <%= render 'form' %>

    <div class="back_index">
    <%= link_to "つぶやき一覧画面にもどる", tsubuyakies_path %>
    </div>

  </div>
</div>
