<div class="wrapper clearfix">
  <div class="sub-container">
    <h2>プロフィール</h2>
    <div class="profile_info">
      <%= image_tag('profile.jpg') %>
    <ul>
      <li>ユーザ名:Cat Taro</li>
      <li>生年月日:2019/11/01</li>
    </ul>
    </div>
    <div class="back_index">
    <%= link_to "つぶやき一覧画面にもどる", tsubuyakies_path %>
    </div>
  </div>
</div>
