html {
  /* 10px */
  font-size: 62.5%;
}

body {
  color: #615D6C;
  /* 12px */
  font-size: 1.2rem;
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/* header部分の実装 */

.header {
  background-color: #95d3f9;
  border: solid 1px #95d3f9;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.header-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 1px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 2.0rem;
    line-height: 4.0rem;
    color: #615D6C;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul{
 list-style-type: none;
 margin: 0;
}

.global-nav{
  float: right;
  margin: 0;
  margin-right: -15px;
}


.global-nav li {
  float: left;
}

.global-nav a{
    color: #615D6C;
    line-height: 20px;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: bold;

}
  text-decoration: none;
  color: white;
}

header li {
  padding: 0px 10px;
}


/* 一覧画面のスタイル */
.main {
  position: absolute;/*←絶対位置*/
  top: 50px;/*上から50px*/
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
}

.container{
  padding: 30px 30px;
}


.tweet{
  width: 100%;
  table-layout: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
}

.link_row{
  width: 130px;
  text-align: center;
}


/* 新規登録画面の実装 */
.submit_btn{
  margin: 20px 0px;
}



/* footer部分の実装 */
footer {
  background-color: #95d3f9;
  border: solid 1px #95d3f9;
  padding-top: 5px;
  padding-left: 50px;
  color: white;
  width: 100%;
  height: 52px;
  position: fixed;
  bottom: 0;
}

footer p{
  font-size: 10px;
  margin: 0px;
* footer部分の実装 */
}

.clearfix ::after{
  content: '';
  display: block;
  clear: both;
}
